{% extends "base.html" %}
{% load static %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>

        <div class="form-group">
            <label for="filter_effect">Choose Filter Effect:</label>
            <select name="filter_effect" id="filter_effect" class="form-control">
                <option value="gaussian">Gaussian Blur</option>
                <option value="box">Box Blur</option>
                <option value="unsharp">Unsharp Mask</option>
                <option value="median">Median Filter</option>
                <option value="min">Min Filter</option>
                <option value="max">Max Filter</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Upload and Process</button>
    </form>

    <!-- Display selected image -->
    <div class="mt-4" id="selected-image-container" style="display: none;">
        <h2>Selected Image</h2>
        <img id="selected-image" class="img-fluid" alt="Selected Image">
    </div>


    <script src="{% static 'js/image_upload_for_main.js' %}"></script>
{% endblock %}